
<nav class="navbar navbar-inverse">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home">NMS Cinema</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="home"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
      <li><a routerLink="moviesList"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Book Movies Ticket</a></li>
      <li><a routerLink="help"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;Help Desk</a></li>
      <li class="dropdown" *ngIf="isAdminLoggedIn()=='Y'"><a class="dropdown-toggle" data-toggle="dropdown">
                        Manage Website&nbsp;&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="addItem"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Add Movies </a></li>
          <li><a routerLink="editItem"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Edit/Delete Movies</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <form class="form-inline mx-auto my-2" style="padding-top: 8px; padding-left: 60px;">
          <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" style="width: 300px;">&nbsp;
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="yourOrders"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;Your Bookings</a></li>
      <li class="dropdown" *ngIf="isUserLoggedIn() == 'N' && isAdminLoggedIn()=='N'"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Sign Up/Login</a>
        <ul class="dropdown-menu">
          <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sign Up</a></li>
          <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
          <li><a routerLink="login"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Admin Login</a></li>
          <li><a routerLink="logout"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Logout</a></li>
        </ul>
      </li>
      <li class="dropdown" *ngIf="isUserLoggedIn() == 'Y' && isAdminLoggedIn()=='N'"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{{loggedUser}}</a>
        <ul class="dropdown-menu">
          <li><a routerLink="login"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Admin Login</a></li>
          <li><a routerLink="logout"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Logout</a></li>
        </ul>
      </li>
      <li class="dropdown" *ngIf="isAdminLoggedIn()=='Y'"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{{loggedUser}}</a>
        <ul class="dropdown-menu">
          <li><a routerLink="logout"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
  
<div class="container">
  
</div>
<router-outlet></router-outlet>